<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="deveplomenet">
        <environment id="deveplomenet">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"></property>
                <property name="url" value="jdbc:mysql://localhost:3306/db12?serverTimezone=GMT%2B8"></property>
                <property name="username" value="root"></property>
                <property name="password" value="zxc0516.."></property>
            </dataSource>
        </environment>
    </environments>
    <!--需要注册创建mapper文件-->
    <!--SqlSessionFactory一定根据mybatis-config.xml文件来创建SqlSession,所以这里需要注册，告诉工厂你的映射文件
    在哪里-->
    <mappers>
        <mapper resource="mapper/goodsMapper.xml"></mapper>
        <mapper resource="mapper/usersMapper.xml"></mapper>
    </mappers>
</configuration>